<form #loginForm="ngForm" (ngSubmit)="login()">
  <mat-form-field>
    <input matInput
           autofocus
           placeholder="نام کاربری"
           required
           [(ngModel)]="model.userName"
           name="userName"
           dir="ltr" />
  </mat-form-field>
  <mat-form-field>
    <input matInput
           type="password"
           placeholder="کلمه عبور"
           required
           [(ngModel)]="model.password"
           name="password" />
  </mat-form-field>
  <mat-checkbox [(ngModel)]="save" name="save">ذخیره اطلاعات ورود</mat-checkbox>
  <div fxLayout="row" fxLayoutAlign="space-between" class="commands">
    <button mat-raised-button color="primary" [disabled]="!loginForm.valid || loading">ورود به برنامه</button>
    <mat-spinner *ngIf="loading" diameter="35"></mat-spinner>
    <button type="button" mat-button routerLink="/auth/register">ثبت نام</button>
  </div>
</form>
