<div fxLayout="column" class="container" dir="rtl">
    <header>
        <app-header></app-header>
    </header>
    <main fxLayout="column" fxFlex="1">
        <mat-drawer-container fxFlex="1" (backdropClick)="onSidebarClosing()">
            <mat-drawer [mode]="small ? 'over' : 'side'" [opened]="sidebarStatus" position="start">
                <app-sidebar></app-sidebar>
            </mat-drawer>
            <mat-drawer-content>
                <main class="content">
                    <router-outlet></router-outlet>
                </main>
            </mat-drawer-content>
        </mat-drawer-container>
    </main>
    <footer>
        <app-footer></app-footer>
    </footer>
</div>
